* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header
}

nav{

}

    main {

    
    }

aside {

}    

footer {

}


section {
    
}


@media screen and (max-width: 768px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 550px) {
    section {
        grid-template-columns: 1fr;
    }
}